* {
    color: black;
    font-family: 'Caveat', cursive;
}
h1 {
    text-align: center;
}
* {
    background-color: coral;
}
.topnav {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}
.container div {
    min-width: 200px;
    max-width: 350px;
}
.imgcontainer img {
    width: 350px;
    margin-top: 100px;
}
.imgright {
    width: 150px;
}
#values 
    img {
    width: 100px;
    margin-right: 50px;}